body {
    font-family: Arial, sans-serif;
    background-color: #f3efef;
    text-align: center;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #ff6600;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: #ff6600;
}

.device-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

